html,body{
    height: 100%;
}
.content-wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
*{
    box-sizing: border-box !important;
    padding:0;
    margin:0;
}
.content{
    flex:1;
}
.sticky-footer{
    text-align: center;
    padding:5px;
    background-color: #545454;
}
.month{
    text-align: center;
}
table{
    border-collapse: separate;
}
.prev-month,.next-month{
    position:absolute;
    cursor: pointer;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    border-top:15px solid transparent;
    border-bottom: 15px solid transparent;
}
.prev-month{
    border-right:15px solid #182230;
}
.next-month{
    border-left:15px solid #182230;
}
th,td{
    border:2px solid black !important;
    user-select: none;
    position:relative;
}
td{
    position:relative;
    border:2px solid transparent;
}
td.active{
    -webkit-box-shadow: inset 0px 0px 0px 4px dodgerblue;
    -moz-box-shadow: inset 0px 0px 0px 4px dodgerblue;
    box-shadow: inset 0px 0px 0px 4px dodgerblue;
}
td.prev,td.next{
    color:lightslategrey;
    background-color: #c7c8ca;
    opacity: 0.7;
}
td[data-task=true]{
    background-color: #c3e5ca;
}
td.period{
    background-color: #b8daff;
}

/* Style the list items */
ul li {
    cursor: pointer;
    position: relative;
    padding: 15px 8px 5px 40px;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;

    display:flex;
    color:black;
    align-items: center;
    border:1px solid black;
    margin:0.5rem auto;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}
/* Darker background-color on hover */
ul li:hover {
    background: #ddd;
}
/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #888;
    color: #fff;
}
/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    display: block;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top:40%;
    transform: rotate(45deg) translateY(-50%);

    left: 8px;
    height: 15px;
    width: 7px;
}
div.task-app-and-type-wrapper{
    position:absolute;
    color: #0069d9;
    top:-2px;
    left:40px;
}
p.task-text{
    flex:1;
    margin:0;
}
i{
    display:flex;
    align-items: center;
    margin:auto 0.4rem !important;
    font-size: 18px;
}
i:hover{
    color: dodgerblue !important;
}
p[contenteditable]{
    padding:10px;
    background-color: #95DEF5;
    color:black;
}